body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
  }

.page {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

/* Header go */

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 20px 250px;
    gap: 60px;
}

.header-start {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-start-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header-start-links {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    gap: 200px;
}

.header-info-singup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.header-info-singup-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.header-info-singup-text {
    color: #E5E7EB;
    font-size: 18px;
}

.header-info-singup-button {

}

#singup-header {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0px;
    border-radius: 8px;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
}

.header-info-image {
    background-color: darkgrey;
    color: #F9FAF8;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 100%;
}

/* Main go */
.main {
    display: flex;
    flex-direction: column;
    padding: 50px 250px;
    gap: 60px;
}

.main-title {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    text-align: center;
}

.main-images {
    display: flex;
    gap: 100px;
    padding: 50px;
    justify-content: space-evenly;
}

.main-images-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 6px;
    height: 130px;
    width: 130px;
}

.main-images-button {
    padding: 60px;
    border-radius: 16px;
    border-color: #3882F6;
    background-color: white;
}

.main-quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: darkgrey;
    font-size: 36px;
    font-style: italic;
    padding: 50px 200px;
    gap: 20px;
}

.main-quote-text {
    text-align: right;
}

.main-quote-author {
    font-weight: bold;
}

.main-singup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 16px;
    font-size: 18px;
    padding: 50px;
}

.main-singup-button {
    padding: 30px;
}

#singup-main {
    border-color: #E5E7EB;
    padding: 16px;
    border-radius: 16px;
    background-color: #3882F6;
    color:#E5E7EB;
    font-size: 16px;
    font-weight: bold;
}

/* Footer go */
.footer {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    font-size: 18px;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
}
